<div class="giscus mt-16"></div>

<script src="https://giscus.app/client.js"
        data-repo="1mangesh1/1mangesh1.github.io"
        data-repo-id="R_kgDONJZqoA"
        data-category="Comments"
        data-category-id="DIC_kwDONJZqoM4C2FCx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
